<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IResolverEcuacionEcuadratica" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52444/ResolverEcucacionCuadratica.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResolverEcuacionEcuadratica"
                contract="SICuadratica.IResolverEcuacionEcuadratica" name="BasicHttpBinding_IResolverEcuacionEcuadratica" />
        </client>
    </system.serviceModel>
</configuration>